.navegacao {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 30%;
  }
  .navegacao nav {
    display: flex;
    gap: 1.5rem;
  }
  .navegacao button {
    width: 2rem;
    height: 2rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
  
    background-color: var(--cor-fundo);
  
    border-radius: 50%;
    border: none;
  }
  
  .navegacao__busca{
    padding: 1rem 6.25rem 1rem 3rem;
    box-sizing: content-box;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  
    background-color: var(--cor-containers-secundaria);
    border: none;
    border-radius: 31.25rem;
    color: var(--cor-secundaria-texto);
  
    background-image: url(../assets/icons/search.png);
    background-repeat: no-repeat;
    background-position: 0.5rem;
  }
  .navegacao__busca:hover, .navegacao__busca:active {
    outline: 2px solid var(--cor-destaque);
  }
  .navegacao__busca::placeholder {
    color: var(--cor-secundaria-texto);
    font-family: var(--fonte-principal);
  }
  
  .cabecalho__conta {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .criar__conta {
    color: var(--cor-secundaria-texto);
    font-size: 1rem;
    font-weight: 700;
  }
  .entrar__conta {
    color: var(--cor-fundo);
    background-color: var(--cor-texto);
    max-width: 8rem;
    border: none;
    border-radius: 5rem;
    padding: 0.625rem;
  
    font-weight: 700;
    font-size: 1rem;
    font-family: var(--fonte-principal);
  }