@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
  --cor-fundo: #000000;
  --cor-containers: linear-gradient(180deg, #252424, #121212);
  --cor-containers-secundaria: #646464;
  --cor-destaque: #1ED760;
  --cor-texto: #ffffff;
  --cor-secundaria-texto: #b3b3b3;
  --cor-terciaria: #878787;
  --cor-texto-botoes: var(--cor-fundo);
  --fonte-principal: 'DM Sans', sans-serif;

    /* Colors Cards */
  --card1: rgb(0, 100, 80);
  --card2: rgb(132, 0, 231);
  --card3: rgb(30, 50, 100);
  --card4: rgb(140, 25, 50);
  --card5: rgb(232, 17, 91);
  --card6: rgb(83, 122, 161);
  --card7: rgb(142, 102, 172);
  --card8: rgb(20, 138, 8);
  --card9: rgb(30, 50, 100);
  --card10: rgb(233, 20, 41);
  --card11: rgb(80, 55, 80);
  --card12: rgb(216, 64, 0);
  --card13: rgb(186, 93, 7);
  --card14: rgb(0, 30, 80);
  --card15: rgb(60, 30, 80);
}
*{
  transition: color 0.5s ease-in-out;
}
body {
  background-color: var(--cor-fundo);

  color: var(--cor-texto);
  font-family: var(--fonte-principal);

  max-width: 100vw;
  max-height: 100vh;


  display: flex;

  box-sizing: border-box;

  overflow-x: hidden;
}
.container__principal {
  display: flex;
  flex-direction: column;

  max-width: 72.5%;
}
.container__principal header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section, header {
    background: var(--cor-containers);
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

aside {
    display: flex;
    flex-direction: column;
    max-width: 25%;

}
button {
  cursor: pointer;
}
.logo img {
    width: calc(5rem + 15%);
}

.menu__sidebar {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.menu__opcoes {
  display: flex;
  flex-direction: column;
  
  gap: 1.25rem;
}
.menu__opcao a{
  display: flex;
  font-size: 1rem;
  color: var(--cor-secundaria-texto);
  font-weight: 600;
  align-items: center;
  gap: 0.5rem;
}
.menu__opcao a:hover {
  color: var(--cor-destaque);
}
.menu__opcao a:hover span:first-of-type  {
transform: scale(1.3);
}

.biblioteca {
  display: inline-flex;
  flex-direction: column;
  gap: 1.75rem;
}
.biblioteca__acesso {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.biblioteca__acesso button {
  background-color: transparent;
  border: none;

  display: flex;
  font-size: 1rem;
  color: var(--cor-secundaria-texto);
  font-weight: 600;
  align-items: center;
  gap: 0.5rem;
}
.biblioteca__playlists__Container {
  background-color: var(--cor-containers-secundaria);
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.playlists__vazia__texto {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.biblioteca__playlists__Container button {
  max-width: 8rem;
  border: none;
  border-radius: 5rem;
  padding: 0.625rem;
  color: var(--cor-fundo);

  font-weight: 700;
  font-size: 1rem;
  font-family: var(--fonte-principal);
}
.cookies{
  color: var(--cor-secundaria-texto);
  font-weight: 500;
  font-size: 0.625rem;
  width: min-content;
}
.cookies:hover {
  text-decoration: underline;
  color: #1ED760;
}

.botao__linguas {
  color: var(--cor-texto);
  background-color: transparent;
  font-weight: 600;

  width: max-content;
  border: 1px solid var(--cor-terciaria);
  border-radius: 0.5rem;
  padding: 0.875rem;
}

.navegacao {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 30%;
}
.navegacao nav {
  display: flex;
  gap: 1.5rem;
}
.navegacao button {
  width: 2rem;
  height: 2rem;
  
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--cor-fundo);

  border-radius: 50%;
  border: none;
}

.navegacao__busca{
  padding: 1rem 6.25rem 1rem 3rem;
  box-sizing: content-box;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  background-color: var(--cor-containers-secundaria);
  border: none;
  border-radius: 31.25rem;
  color: var(--cor-secundaria-texto);

  background-image: url(../assets/icons/search.png);
  background-repeat: no-repeat;
  background-position: 0.5rem;
}
.navegacao__busca:hover, .navegacao__busca:active {
  outline: 2px solid var(--cor-destaque);
}
.navegacao__busca::placeholder {
  color: var(--cor-secundaria-texto);
  font-family: var(--fonte-principal);
}

.cabecalho__conta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.criar__conta {
  color: var(--cor-secundaria-texto);
  font-size: 1rem;
  font-weight: 700;
}
.entrar__conta {
  color: var(--cor-fundo);
  background-color: var(--cor-texto);
  max-width: 8rem;
  border: none;
  border-radius: 5rem;
  padding: 0.625rem;

  font-weight: 700;
  font-size: 1rem;
  font-family: var(--fonte-principal);
}

.generos__musicas__container {
  display: flex;
  flex-direction: column;

  height: calc(100% - 16.125rem);
}
.generos__musicas__texto {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2.5%;
}
.generos__musicas__texto h1 {
  font-size: 2rem;
  font-weight: 700;
}
.generos__musicas__texto h2{
  font-size: 1.5rem;
  font-weight: 700;
}
.secoes__generos__musicas {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3rem;

  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--cor-destaque) transparent;
}

.secoes__generos__musicas .cards {
  position: relative;
  padding: 1rem;

  width: 13.125rem;
  height: 16.25rem;

  overflow: hidden;

  border-radius: 0.5rem;
}
.secoes__generos__musicas span {
  color: var(--cor-texto);
  font-size: 1.5rem;
  font-weight: 700;
}
.secoes__generos__musicas img {
  position: absolute;
  right: 0;
  bottom: 0;
  height: auto;
  width: 6.6875rem;
  transform: rotate(25deg) translate(18%, -2%);
}

.card1 {
  background-color: var(--card1);
}
.card2 {
  background-color: var(--card2);
}
.card3 {
  background-color: var(--card3);
}
.card4 {
  background-color: var(--card4);
}
.card5 {
  background-color: var(--card5);
}
.card6 {
  background-color: var(--card6);
}
.card7 {
  background-color: var(--card7);
}
.card8 {
  background-color: var(--card8);
}
.card9 {
  background-color: var(--card9);
}
.card10 {
  background-color: var(--card10);
}
.card11 {
  background-color: var(--card11);
}
.card12 {
  background-color: var(--card12);
}
.card13 {
  background-color: var(--card13);
}
.card14 {
  background-color: var(--card14);
}
.card15 {
  background-color: var(--card15);
}

.rodape{
  display: flex;
  justify-content: space-between;
  align-items: center;
    position: fixed;
    bottom: 0;
    padding: 1rem 0;
    width: 100%;

    background: linear-gradient(135deg, var(--cor-destaque), var(--cor-fundo), var(--cor-destaque));
    background-size: 500% 500%;
    animation: animacaoBackground 60s infinite ease-in-out;
  }
  @keyframes animacaoBackground {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .rodape div, .rodape button {
    margin: 0 calc(1rem + 2.5%);
 } 
 .rodape__botao {
     background-color: var(--cor-texto);
     color: var(--cor-fundo);
     font-size: 1rem;
     font-weight: bold;
     padding: 1rem 2rem;
     border: none;
     border-radius: 3rem;
     cursor: pointer;
 }
 .mobile {
  display: none;
}
 @media screen and (max-width: 930px) {
  .container__principal header {
    align-items: flex-start;

    flex-direction: column;
    gap: 1.5rem;
  }
  .cabecalho__conta {
    align-self: flex-end;
  }
 }
 @media screen and (max-width: 640px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  body {
    flex-direction: column;
    max-height: auto;
  }
  aside, .container__principal {
    max-width: 90%;
    align-self: center;
  }
  .sidebar__conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.25rem;
  }
  .cabecalho__conta {
    display: flex;
    gap: 1.25rem;
    align-items: center;
    justify-content: space-between;
    align-self: auto;
  }
  .generos__musicas__container {
    padding-bottom: 6.5rem;
  }
  .navegacao {
    flex-direction: column;
    align-items: center;
    width: auto;
    align-self: center;
  }
  .secoes__generos__musicas {
    gap: 0.175rem;
  }
  .secoes__generos__musicas .cards {
    width: 35%;
    height: 45%;
  }
 }